body {
    text-align: center;
}

textarea {
    resize: none;
    caret-color: transparent;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    border-color: black;
    width: 85%;
    height: 300px;
}

textarea:focus {
    outline: none;
}

label {
    margin: 1%;
}

button {
    margin: 0.5%;
}